<div class="grid__rows grid__main">
	<section class="gray grid__main" >
		<div class="content__left">{{ section.contentTop|raw }}</div>
	</section>
	<div class="browser__window">
		<div class="browser__head">
			<div class="circle"></div><div class="circle"></div><div class="circle"></div>
		</div>
		<div class="browser__content">	<img src="{{ section.browserImage|media }}" alt=""></div>
	</div>
	<section class="grid__main bottom">
		<div class="content__left">{{ section.contentBottom|raw }}</div>
	</section>
</div>
